.large-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.large-header > .anticon {
    font-size: 1.6em;
    margin-left: 1em;
}
.large-header > .anticon:first-of-type {
    margin-left: auto;
}

.content {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: 8em;
}

.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-header > a {
    user-select: none;
    text-decoration: none;
    margin-left: auto;
    color: blue;
    font-weight: bold;
}