.page-background {
    display: flex;
    flex-direction: column;
}
.large-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5em 1.5em 0 1.5em;
    background: rgb(83, 177, 117);
    border-radius: 0 0 2.5em 0;
}
.large-header > h1 {
    color: white;
}
.large-header > .anticon {
    color: white;
    font-size: 1.6em;
    margin-left: 1em;
}
.large-header > .anticon:first-of-type {
    margin-left: auto;
}

.content-background {
    background: rgb(83, 177, 117);
    display: flex;
    flex-direction: column;
}
.content {
    padding: 0 1.5em 8em 1.5em;
    background: white;
    border-radius: 2.5em 0 0 0;
}

.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content > .ant-tabs > .ant-tabs-nav {
    margin-bottom: 0;
}
.ant-tabs-nav-list {
    margin: 1em 10% 0 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ant-tabs-tab-btn {
    font-size: 1.25em;
}
.ant-tabs-tab {
    width: 50%;
    justify-content: center;
    margin: 0;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: rgb(83, 177, 117);
}
.ant-tabs-ink-bar {
    background: rgb(83, 177, 117);
}