.page-background {
    display: flex;
    flex-direction: column;
}
.small-header {
    background: rgb(83, 177, 117);
    width: 100%;
    height: 2em;
}
.large-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background: rgb(83, 177, 117);
    border-radius: 0 0 2.5em 0;
}
.large-header > h1 {
    color: white;
}
.large-header > .anticon {
    color: white;
    font-size: 1.6em;
    margin-left: 1em;
}
.large-header > .anticon:first-of-type {
    margin-left: auto;
}

.content-background {
    background: rgb(83, 177, 117);
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.content-background.none {
    background: none;
}
.content {
    padding: 0 1.5em 10em 1.5em;
    background: white;
    border-radius: 2.5em 0 0 0;
}
.content.detail {
    padding-top: 1.5em;
}
.content-background.detail > .content {
    border-radius: 2.5em 2.5em 0 0;   
}

.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content > .ant-tabs > .ant-tabs-nav {
    margin-bottom: 0;
}
.ant-tabs-nav-list {
    margin: 1em 10% 0 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ant-tabs-tab-btn {
    font-size: 1.25em;
}
.ant-tabs-tab {
    width: 50%;
    justify-content: center;
    margin: 0;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: rgb(83, 177, 117);
}
.ant-tabs-ink-bar {
    background: rgb(83, 177, 117);
}


.detail-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    position: relative;
}
.detail-header > img {
    height: auto;
    width: 40%;
    margin: 2em auto;
}
.detail-header.request > img {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    overflow: auto;
    transform: scale(1.2) translateY(2em);
}
.detail-header > .detail-header__close-button {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-content-detail__date, .request-content-detail__date {
    color: grey;
    font-size: 0.75em;
}
.news-content-detail__title, .request-content-detail__date {
    font-size: 1.5em;
    font-weight: bold;
}
.news-content-detail__category, .request-content-detail__progress {
    font-size: 0.75em;
    margin: 0.75em 0;
}
.news-content-detail__category > span,
.request-content-detail__progress > span {
    padding: 0.25em 0.75em;
    border-radius: 1em;
}
.request-content-detail__images {
    display: flex;
    flex-direction: row;
}
.request-content-detail__images > img {
    margin-right: 1em;
    border-radius: 1em;
    height: 8em;
    margin-bottom: 1em;
}

.content.detail > .ant-slider {
    margin-top: 1.5em;
}
.ant-slider > .ant-slider-rail {
    background-color: lightgrey !important;
    height: 1em;
    border-radius: 1em;
}
.ant-slider > .ant-slider-track {
    background-color: rgb(205, 252, 229) !important;
    height: 1em;
    border-radius: 1em;
}
.ant-slider-handle {
    height: 1.6em;
    width: 1.6em;
    background-color: rgb(83, 177, 117) !important;
    border: none;
}
.ant-slider-step {
    height: 1em;
}
.ant-slider-step > .ant-slider-dot {
    display: none;
}
.ant-slider-mark .ant-slider-mark-text:first-child {
    top: 1em;
    transform: translateX(0%) !important;
}
.ant-slider-mark .ant-slider-mark-text:last-child {
    top: 1em;
    transform: translateX(-100%) !important;
}

.page-background > .ant-empty {
    margin-top: 30%;
}


.add-button {
    text-decoration: none;
    user-select: none;
    position: sticky;
    bottom: 2.2em;
    font-size: 4em;
    width: min-content;
    z-index: 100;
    left: 80%;
    color: rgb(83, 177, 117);
}

.create-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    align-items: center;
}
.create-buttons > a {
    text-decoration: none;
    user-select: none;
}
.create-buttons > .create-buttons__back-button {
    font-size: 2em;
    color: black;
}
.create-buttons > .create-buttons__button {
    margin-left: auto;
    background: rgb(83, 177, 117);
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.25em 1.75em;
    border-radius: 1em;
}

.community-create-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25em;
    margin-bottom: 0.5em;
}
.community-create-author > .community-create-author__avatar {
    background-color: grey;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-right: 1em;
}
.community-create-input {
    font-size: 1.25em;
    padding-left: 0;
    margin-bottom: 5em;
}
.community-create__upload-img {
    max-height: 6em;
    max-width: 100%;
}
.community-create__upload-buttons {
    display: flex;
    flex-direction: row;
}
.community-create__upload-buttons > .anticon {
    font-size: 2em;
    color:rgb(83, 177, 117);
    margin: 0.5em;
}