.request-card, .news-card {
    border-radius: 1.5em;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1em;
    margin: 1.5em 0;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
}
.news-card-icon {
    height: 5em;
    width: 5em;
    margin-right: 1.5em;
}
.news-card-icon > img {
    width: 100%;
}
.news-card-description > .news-card-description__date {
    color: grey;
    font-size: 0.75em;
}
.news-card-description > .news-card-description__title {
    font-size: 1.5em;
    font-weight: bold;
}
.news-card-description > .news-card-description__category {
    font-size: 0.75em;
    margin: 0.75em 0;
}
.news-card-description > .news-card-description__category > span {
    padding: 0.25em 0.75em;
    border-radius: 1em;
}

.request-card {
    flex-direction: column;
    padding: 0;
}
.request-card-photo {
    width: 100%;
    max-height: 8em;
    overflow: hidden;
}
.request-card-photo > img {
    width: 100%;
}

.request-card-description {
    margin: 1em 1.5em;
    display: flex;
    flex-direction: row;
}
.request-card-description__text {
    width: 70%;
}
.request-card-description__text > .request-card-description__text-date {
    color: grey;
    font-size: 0.75em;
}
.request-card-description__text > .request-card-description__text-title {
    font-weight: bold;
    font-size: 1.4em;
}
.request-card-description__progress {
    width: 30%;
    text-align: right;
}
.request-card-description__progress > span {
    padding: 0.25em 0.75em;
    border-radius: 1em;
}